{% extends 'partials/_master.twig' %}

{% block main %}

    <blockquote>{{ record.quote }}</blockquote>

    <div id="home-tekst" class="page-tekst">
        <h3>{{ record|title }}</h3>

        <ol class="list-tooltips">
          {% include 'partials/_list_items.twig' with {'items': record.items} %}
        </ol>
    </div>
    

{% endblock main %}
