<footer>
  <div class="footer-wrapper">
    <a href=""><svg width="155" height="85" viewBox="0 0 155 85" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.5 79V2.72305L73.492 48.2406C75.9399 49.7883 79.0601 49.7883 81.508 48.2406L153.5 2.72305V79C153.5 81.4853 151.485 83.5 149 83.5H6C3.51472 83.5 1.5 81.4853 1.5 79ZM77.5 1.5H149.821L79.9048 45.7049C78.4361 46.6335 76.5639 46.6335 75.0952 45.7049L5.17932 1.5H77.5Z" stroke="white" stroke-width="3"/>
        </svg>
    </a>
  </div>
</footer>