<footer>
  <div class="footer-wrapper">
    <a href="/{{ app.request.locale }}/contact/jan-de-laat"><svg width="161" height="91" viewBox="0 0 161 91" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3 3V82C3 85.3137 5.6863 88 9 88H152C155.314 88 158 85.3137 158 82V3M3 3L77.2936 49.9727C79.2519 51.2109 81.7481 51.2109 83.7064 49.9727L158 3M3 3H80.5H158" stroke="white" stroke-width="5"/>
</svg>

    </a>
  </div>
</footer>