{# <span class="line"></span>
<li><a class="active" href="index.html">Home</a></li>
<span class="line"></span>
<li><a href="Man.html">Man</a></li>
<span class="line"></span>
<li><a href="">Philosophy</a></li>
<span class="line"></span>
<li><a href="">Issues</a></li>
<span class="line"></span>
<li><a href="">Applications</a></li>
<span class="line"></span> #}
{{ menu(record.header, template = 'partials/_sub_menu.twig') }}